*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.header{
    background: rgb(255, 105, 180, 0.6);
    padding-bottom: 150px;
}

.navbar{
    padding-top: 20px !important;
}

.nav-item{
    margin-left: 40px;
    margin-bottom: 10px;
}

.nav-link{
    color: #fff !important;
    font-size: 20px !important;
    padding: 0 0 5px 0 !important;
    display: unset !important;
}

.navbar-brand img{
    width: 100px;
}

.fa-bars{
    color: #fff;
    font-size: 40px !important;
}

.navbar-toggler{
    border: 0 !important;
    outline: 0 !important;
    padding: initial !important;
}

.active-home{
    border-bottom: 2px solid white;
}

.nav-link:hover{
    border-bottom: 2px solid #fff;
    transition: 0.3s;
}

.banner{
    margin-top: 8%;
    color: #fff;
}

.banner h2{
    font-size: 40px;
    font-weight: 250;
    text-align: center;
    margin: 10px 0;
}

.banner img{
    max-width: 75%;
    max-height: auto;
}

.floating-image {
    margin: 45px 0;
    padding: 35px 35px;
    animation: mover 3s infinite alternate;
}

.anchor-text{
    display: block;
    font-weight: 1000;
    padding-left: 50%;
}

@keyframes mover{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-20px);
    }
}

/*ABOUT US SECTION*/
.intro-title{
    margin: 10px 0;
    padding: 0 25px;
    text-align: center;
}

intro-speech{
    margin: 5px 0;
    text-align: left;
}

.main{
    margin: 75px 0;
    text-align: center;
}

.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.subtitle{
    text-align: center;
    margin-bottom: 70px;
    font-size: 15px;
}

.fa-arrow-right{
    font-size: 22px !important;
    margin-top: 30px;
    margin-bottom: 35px;
    cursor: pointer;
}

.active-offer p{
    color: #fff !important;
}

.find-us-title{
    margin-top: 50%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

/*******LOCATIONS*******/
.people {
    margin: 100px 0;
}

.people img{
    max-width: 100%;
    cursor: pointer;
}

.people h2{
    font-weight: bold;
    line-height: 50px;
}

.people p{
    margin-top: 25px;
    margin-bottom: 50px;
    color: #808080;
    font-size: 14px;
    line-height: 18px;
}

.people a{
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    padding: 15px 10px;
    display: block;
    background: rgb(255, 105, 180, 0.6);
    text-decoration: none !important;
    color: #fff !important;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 9px 9px 1px rgba(204,204,204,0.5);
    margin-top: 25px;
    margin-bottom: 25px;
}

.map-container{
    width: 50%;
    margin: 0 auto;
}

/*FOOTER*/
footer{
    background: rgb(255, 105, 180, 0.6);
    padding-top: 5px;
}

.container{
    padding: 40px 0;
}

footer p{
    color: #fff;
    line-height: 18px;
}

footer h2{
    color: #fff;
    font-size: 18px;
}

.segment-one{
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}

.segment-one h2{
    font-size: 25px;
}

.segment-one ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two h2{
    font-size: 25px;
}

.segment-one ul li{
    border-bottom: 1px solid white;
    line-height: 40px;
}

.segment-one ul li a{
    color: #fff;
    text-decoration: none;
}

.segment-two h2:before{
    content: '|';
    color: red;
    padding-right: 4px;
}

.segment-two a i{
    font-size: 20px;
    justify-content: space-evenly;
}

.segment-three h2{
    font-size: 25px;
}

.segment-three h2:before{
    content: '|';
    color: red;
    padding-right: 4px;
}

.segment-three form input[type=submit]{
    border: none;
    padding: 3px 15px;
    background: white;
}

.footer-bottom-text{
    color: black;
    background: white;
    text-align: center;
    line-height: 75px;
}

/*RESPONSIVE CSS*/
@media only screen and (max-width: 350px){
    .segment-one{
        margin: 20px 0;
    }
    .segment-two{
        margin: 20px 0;
    }
    .segment-three{
        margin: 20px 0;
    }
}













