.container-style {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.wrapper-item {
    background-color: rgba(255, 105, 180, 0.6);
    border-radius: 0.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    box-shadow: 0.5rem 2px 0.5rem rgba(0,0,0,0.1);
}

.wrapper-link {
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

    .wrapper-link i {
        color: #e7d5ff;
        padding: 0.5rem;
    }

    .wrapper-link .ion-md-remove {
        display: none;
    }

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background: rgba(255, 105, 180, 0.4);
    color: rgba(255,255,255,0.6);
    transition: max-height 650ms;
}

    .answer::before {
        content: "";
        position: absolute;
        width: 0.6rem;
        height: 100%;
        background-color: #dfe;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .answer p {
        padding: 2rem;
        color: #fff;
    }

.wrapper-item:target .answer {
    max-height: 20rem;
}

.wrapper-item h3 {
    font-size: 18px;
}

.wrapper-item:target {
    animation: mover1 4s infinite alternate;
    margin: 40px 0;
}

@keyframes mover1 {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}

.wrapper-item:target .wrapper-link .ion-md-add {
    display: none;
}

.wrapper-item:target .wrapper-link .ion-md-remove {
    display: block;
}
