@model AsianTravelAgency.Models.ViewModels.AboutUsPostViewModel.DisplayAllAboutUsPostViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container container-banner">
    <div class="row banner">
        <div class="col-md-6">
            <h1>We are a small team that make your dream come true!</h1>
            <p>
                "When the things are going down, think that the universe is testing your patience. Wait and
                everything will be
                as you wish.<small class="anchor-text">John Lee, Founder of ASIAXPRESS</small>
            </p>
            <a href="pictures.html" class="express-btn">SEE PICTURES</a>
            <a href="#review" class="express-btn2">SEE REVIEWS</a>
        </div>
        <div class="col-md-6 city-picture">
            <img src="~/images/Freepik-smile.png" class="img-fluid">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <a asp-action="AddPost">
            <input type="button" value="+" class="btn btn-outline-secondary spacing filter" />
        </a>
    </div>
</div>

@if (Model.AllAboutUsPosts.Count() == 0)
{
    <div colspan="10">
        <p>No info</p>
    </div>
}
else
{
    @foreach (var AboutUsPost in Model.AllAboutUsPosts)
    {
        <div class="japan">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/images/@AboutUsPost.ImageName" asp-append-version="true" />
                    </div>
                    <div class="col-md-6">
                        <h2>
                            @Html.DisplayFor(item => AboutUsPost.Title)
                        </h2>
                        <p>
                            @Html.DisplayFor(item => AboutUsPost.Content)
                        </p>
                        <a asp-controller="Prices" asp-action="Index">See our offers!</a>
                    </div>
                    <a asp-action="Delete" asp-route-id="@AboutUsPost.Id">Delete</a>
                </div>
            </div>
        </div>
    }
}
